.App {
  text-align: center;
}

.bg {
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: url(../public/img/nyan.gif);
  filter: blur(3px) brightness(40%);
}
