@font-face { 
  font-family: YanoneKaffeesatz;
  src:
    local("YanoneKaffeesatz")
    url('../src/public/fonts/YanoneKaffeesatz-VariableFont_wght.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: YanoneKaffeesatz;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}


